/*-- CSS page HW10 -->
<!-- Project Name: Pacific Trails (HW10)
Author: Emilie Blecker
Date Last Modified: 4/3/2019*/

body
{
    color:  #cb9682;
    background-color: #EFE3D3;
    font-family: "palatino";
    font-size:16px;
    font-style:bold;
    line-height: 200%;
    list-style-position: inside;

}

h1
{
    color: #5f9ea0;
    line-height: 200%;
    text-align: center;
}

nav
{
    font-style:bold;
    text-align: center;
    background-color: #03BCDF;
    font-size:18px;
}

h2
{
    color: #03BCDF;
    font-size: 24px;
    text-align: center;
}

#address
{
    position: fixed;
    left: 10;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    line-height: 100%;
    
}

footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    font-style: italic;
    text-align: center;
    line-height: 100%;
}
 
#wrapper
{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}