/*-- CSS page HW10 -->
<!-- Project Name: Pacific Trails (HW10)
Author: Emilie Blecker
Date Last Modified: 4/3/2019

wrong name for css
unexpected colors and fonts

*/

body
{
    color:  #cb9682;
    background-color: #ffffff;
    font-family: "calibri";
    list-style-position: inside;
}

header
{
    background-color: #000033;
    color: #ffffff;
    font-family: "palatino"
}

h1
{
    color: #5f9ea0;
    line-height: 200%;
}

nav
{
    font-weight: bold;
    background-color: #03BCDF;
}

h2
{
    color: #03BCDF;
    font-family: "palatino"
}

dt
{
    color: #000033;
    font-weight: bold;
}

.resort
{
    color: #000033;
    font-size: 1.2em;
}

/*#address
{
    position: fixed;
    left: 10;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    line-height: 100%;
    
}*/

footer
{
    font-size: .70em;
    font-style: italic;
    text-align: center;
}
 
#wrapper
{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}